@{
    ViewData["Title"] = "シラバス検索";
}

<div class="text-center">
    <h1 class="display-4">シラバス検索</h1>
</div>

<div>
    <form asp-action="Result" method="get">
        <h2>学期</h2>
        <select name="semesterId">
            <option value="">指定なし</option>
            <option value="1">前期</option>
            <option value="2">後期</option>
        </select>
        
        <h2>授業形態</h2>
        <select name="classFormationIds">
            <option value="">指定なし</option>
            <option value="1,5">講義</option>
            <option value="2,6">演習</option>
            <option value="3,7">ゼミ</option>
            <option value="4,8">その他</option>
        </select>

         <h2>学部</h2>
         <select name="departmentIds">
            <option value="">指定なし</option>
            <option value="1,2,3,4,5,6,7,8">人間情報学部</option>
        </select>

        <h2>学科</h2>
         <select name="majorIds">
            <option value="">指定なし</option>
            <option value="1,2,3,4,5,6,7,8">共通</option>
            <option value="9,10,11,12,13,14,15,16">人間情報学科</option>
            <option value="17,18,19,20,21,22,23,24">感性工学専攻</option>
            <option value="25,26,27,28,29,30,31,32">データサイエンス専攻</option>
        </select>

        <h2>授業名</h2>
        <input type="text" name="className" placeholder="授業名で検索" class="form-control" />

        <button type="submit">検索</button>
    </form>
</div>